.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-rows: 10vh 20vh 20vh 20vh 10vh; */
    grid-template-areas: 
    "logo nav nav" 
    "logo nav-bar nav-bar" 
    "side cont adver" 
    "side cont adver"
    "side cont adver"
    "foo foo foo";
    text-align: center;
    gap: 10px;
}

.item-logo{
    background: tomato;
    grid-area: logo;
    height: 10vh;
}

.item-nav{
    background: tomato;
    grid-area: nav;
}

.item-nav-bar{
    background: tomato;
    grid-area: nav-bar;
}

.item-content{
    background: tomato;
    grid-area: cont;
}

.item-sidebar{
    background: tomato;
    grid-area: side;
}

.item-advert{
    background: tomato;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
}

.item-advert > h1{
    grid-column: 1;
    grid-row: 2;
    color: white;
    background: rgba(0, 0, 0, 0.473);
    width: 100%;
    margin: 0px;
    padding: 5px 0;
}

.item-advert div{
    color: aliceblue;
    text-align: justify;
    margin: 5px;
}

.item-advert div > h1{
    display: flex;
    flex-wrap: wrap;
    color: royalblue;
    justify-content: center;
}

.item-footer{
    background: tomato;
    grid-area: foo;
    height: 20vh;
}